    <style>
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
        }

ul {
    list-style-type: circle;
    margin-left: 20px;
}

p  {
    font-size: 1.2em;
    background-color: #e2e2e2;
    border-radius: 4px;
}

ul  {
    font-size: 1.2em;
    background-color: #e2e2e2;
    border-radius: 4px;
}

ol {
    font-size: 1.2em;
    background-color: #e2e2e2;
    border-radius: 4px;
}